# Dependency directories
node_modules/

# PNPM
pnpm-debug.log*

# Astro specific
dist/
.astro/
astro.config.mjs.timestamp-*

# Environment variables
.env*
*.env
.env.local

tmp-notes/
apps/chiubaca.com/content/permanent-notes/*
apps/chiubaca.com/public/attachments/*
apps/chiubaca.com/public/photos/*
apps/chiubaca.com/content/fleeting-notes/*
apps/chiubaca.com/.wrangler/*
apps/chiubaca.com/src/data/photos.ts
.DS_Store

!.gitkeep