# Dependency directories
node_modules/

# npm logs
npm-debug.log*

# Astro specific
dist/
.astro/
astro.config.mjs.timestamp-*

# Environment variables
.env*
*.env
.env.local

tmp-notes/
apps/chiubaca.com/permanent-notes/*
apps/chiubaca.com/public/attachments/*
apps/chiubaca.com/fleeting-notes/*
apps/chiubaca.com/.wrangler/*
