# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache

# Ignore content in astro content dir
apps/notes.chiubaca.com/src/content/**/*.md

# Ignore any files inside  directory named .astro
**/.astro


