---
import { getCollection } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

const noteCollection = await getCollection("fleeting-notes");

const sortedNoteCollectionByLatestFirst = noteCollection.sort((a, b) =>
  a.data.publish_date > b.data.publish_date ? -1 : 1,
);
---

<BaseLayout title="Fleeting Notes" slug="fleeting-notes">
  <main>
    {
      sortedNoteCollectionByLatestFirst.map(async (note) => {
        const { Content } = await note.render();
        return (
          <article class="prose m-10 ">
            <h2>
              <a
                class="link-hover link text-lg underline"
                href={`/${note.collection}/${note.slug}`}
              >
                {note.slug}
              </a>
            </h2>
            {note.data.tags.map((tag) => (
              <span class="badge"> {tag} </span>
            ))}
            <Content />
          </article>
        );
      })
    }
  </main>
</BaseLayout>
