---
import { getCollection } from "astro:content";
import type { NoteTypes } from "@shared/types";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  path: Exclude<NoteTypes, "fleeting-notes">;
}

const { path } = Astro.props;

const noteCollection = await getCollection(path);
---

<BaseLayout title={path}>
  <main class="flex flex-col">
    {
      noteCollection.map((note) => {
        return (
          <h2>
            <a
              class="link link-hover"
              href={`/${note.collection}/${note.slug}`}
            >
              {note.data.title}
            </a>
          </h2>
        );
      })
    }
  </main>
</BaseLayout>
