---
import { getCollection } from "astro:content";
import type { NoteTypes } from "../common/types";

interface Props {
  path: NoteTypes;
}

const { path } = Astro.props;

const noteCollection = await getCollection(path);
---

<div>Hello listing page: {path}!!</div>
{
  noteCollection.map((note) => {
    return (
      <h2>
        <a href={`${note.collection}/${note.slug}`}>{note.slug}</a>
      </h2>
    );
  })
}
