---
import { BaseLayout, type BaseLayoutProps as Props } from "@chiubaca-ui";

const { title, breadcrumbs } = Astro.props;
---

<BaseLayout
  titlePrefix="notes.chiubaca.com"
  title={title}
  breadcrumbs={breadcrumbs}
>
  <slot name="head" slot="head" />

  <slot />

  <div slot="footer">
    <img
      loading="lazy"
      src="https://pbs.twimg.com/profile_images/1334863005708902402/kLOEM6gq_400x400.jpg"
      class="float-left mr-5 aspect-square w-16 rounded-full"
    />
    <p class="">
      Hey I'm Alex Chiu 👋. These are my notes for literally anything.
    </p>

    <p>
      I'm using the <a class="link" href="/permanent-notes/zettelkasten/">
        Zettelkasten</a
      > method to organise my thoughts here.
    </p>

    <p class="pb-5 pt-5">
      My more polished writings are published to my main blog at <a
        class="link"
        href="https://chiubaca.com"
        >chiubaca.com
      </a>
    </p>
  </div>
</BaseLayout>
