---
import { getEntry } from "astro:content";
import type { SlugPaths, NoteTypes } from "@shared/types";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  path: SlugPaths;
}

const { path } = Astro.props;

const pathSplit = path.split("/");
const noteType = pathSplit[0] as NoteTypes;
const slug = pathSplit[1];
const entry = await getEntry(noteType, slug);

if (!entry) return;

const date = entry.data.publish_date;

const { Content } = await entry.render();
---

<BaseLayout slug={`${entry.collection} / ${entry.slug}`}>
  <article class="prose m-10">
    <Content />
  </article>

  <div class="link-hover link pt-3 text-center">
    <a
      href={`https://github.com/chiubaca/learning/blob/main/${noteType}/${slug}.md`}
    >
      Edit on GitHub ✏️
    </a>
  </div>
</BaseLayout>
