---
import { getEntry } from "astro:content";
import type { SlugPaths, NoteTypes } from "../common/types";

interface Props {
  path: SlugPaths;
}

const { path } = Astro.props;

const pathSplit = path.split("/");
const noteType = pathSplit[0] as NoteTypes;
const slug = pathSplit[1];
const entry = await getEntry(noteType, slug);

if (!entry) return;

const date = entry.data.publish_date;

const { Content } = await entry.render();
---

<div>Hello Note page {path}!! {date}</div>

<Content />
