---
import { getCollection, getEntry, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("fleeting-notes");

  const slugPaths = blogs.map((blog) => {
    return {
      params: { date: blog.id },
    };
  });

  return slugPaths;
}

const { date } = Astro.params;
const entry = await getEntry("fleeting-notes", date);

const { Content } = await render(entry);
---

<BaseLayout
  breadcrumbs={[
    {
      href: `/fleeting-notes`,
      label: "fleeting-notes",
    },
    {
      href: `/fleeting-notes/${entry.id}`,
      label: entry.id,
    },
  ]}
>
  <meta name="robots" content="noindex" slot="head" />

  <div class="mt-[10vh]">
    <div
      class="flex flex-wrap justify-center items-center gap-2 font-mono text-xs"
    >
      {
        entry.data.tags.map((tag) => (
          <a
            href={`/tags#${tag}`}
            class="hover:link  text-gray-400 before:content-['#']"
          >
            {tag}
          </a>
        ))
      }
    </div>
    <h1
      class="font-mono my-4 text-2xl font-bold text-center text-balance"
      transition:name="blog-title"
    >
      {entry.id.replaceAll("-", "・")}
    </h1>
  </div>
  <article class="prose pt-10 px-5 sm:mx-auto">
    <Content />
  </article>

  <div class="link-hover link pt-10 text-center">
    <a
      href={`https://github.com/chiubaca/learning/blob/main/fleeting-notes/${entry.id}.md`}
    >
      Edit on GitHub ✏️
    </a>
  </div>
</BaseLayout>
