---
import { getCollection, getEntry, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("fleeting-notes");

  const slugPaths = blogs.map((blog) => {
    return {
      params: { date: blog.id },
    };
  });

  return slugPaths;
}

const { date } = Astro.params;
const entry = await getEntry("fleeting-notes", date);
console.log("entry", entry);

const { Content } = await render(entry);
---

<BaseLayout
  breadcrumbs={[
    {
      href: `/fleeting-notes`,
      label: "fleeting-notes",
    },
    {
      href: `/fleeting-notes/${entry.id}`,
      label: entry.id,
    },
  ]}
>
  <meta name="robots" content="noindex" slot="head" />

  <div class="mt-15 max-w-3xl mx-auto px-5">
    <h1 class="text-2xl font-mono pb-2">{entry.id.replaceAll("-", "・")}</h1>
    {
      entry.data.tags.map((tag) => (
        <a
          href={`/tags#${tag}`}
          class="hover:link border-gray-300 text-gray-600 before:content-['#'] dark:border-gray-600 dark:text-gray-400 font-mono text-sm"
        >
          {tag}
        </a>
      ))
    }
    <article class="prose mx-auto max-w-none prose-a:break-all pt-10">
      <Content />
    </article>

    <div class="link-hover link pt-10">
      <a
        href={`https://github.com/chiubaca/learning/blob/main/fleeting-notes/${entry.id}.md`}
      >
        Edit on GitHub ✏️
      </a>
    </div>
  </div>
</BaseLayout>
