---
import { getEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const fleetingNotesCollection = await getCollection("fleetingNotes");
const fleetingNotes = fleetingNotesCollection.sort(
  (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf()
);
---

<BaseLayout
  breadcrumbs={[
    {
      href: "/fleeting-notes",
      label: "fleeting-notes",
    },
  ]}
>
  <div>
    {
      fleetingNotes.map(async (note) => {
        const entry = await getEntry("fleetingNotes", note.id);

        const { Content } = await render(entry);

        return (
          <section class="prose py-5">
            <h2 class="font-mono">{note.id.replaceAll("-", "・")}</h2>
            <div class="flex flex-row gap-2">
              {entry.data.tags.map((tag) => (
                <span class="font-mono text-xs not-prose badge flex cursor-pointer border-black no-underline hover:badge-neutral dark:border-slate-100">
                  <a href={`/tags#${tag}`}># {tag} </a>
                </span>
              ))}
            </div>
            <Content />
            <hr />
          </section>
        );
      })
    }
  </div>
</BaseLayout>
