---
interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <title>Alex's Blog {title && `| ${title}`}</title>
  </head>
  <body class="h-screen">
    <header class="text-lg link link-hover">
      <a href="/">Alexs Blog</a>
    </header>

    <hr class="my-8" />
    <slot />
  </body>
</html>
