---
import { ThemeToggle } from "@chiubaca-ui";

interface Props {
  title?: string;
  slug?: string;
}
const { title, slug } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <title>chiubaca.com {title && `| ${title}`}</title>
  </head>
  <body>
    <div class="mx-auto max-w-[65ch] px-5 pb-10 md:px-0">
      <div
        class="fixed right-0 m-8 flex justify-end rounded-full p-2 backdrop-blur-md"
      >
        <ThemeToggle />
      </div>
      <header class="flex items-center justify-between py-10">
        <div class="font-mono">
          <a href="/" class="link py-2 hover:text-primary">$chiubaca</a>
          <span class="text-sm"> / blog {slug && `/ ${slug}`}</span>
        </div>
      </header>
      <slot />
      <footer class="py-10">
        <hr />
        <div class="pt-10">
          <img
            loading="lazy"
            src="https://pbs.twimg.com/profile_images/1334863005708902402/kLOEM6gq_400x400.jpg"
            class="float-left mr-5 aspect-square w-16 rounded-full"
          />
          <p class="">
            Hey I'm Alex Chiu 👋. I'm a full-stack developer based in London.
            Here I publish musings about web development, life and other
            ramblings.
          </p>
        </div>
        <div class="pt-10">
          <p>
            Follow me on: <a
              class="link hover:text-primary"
              href="https://github.com/chiubaca"
              >Github<a>
                / <a
                  class="link hover:text-primary"
                  href="https://twitter.com/chiubaca">X (Twitter)</a
                > / <a
                  class="link hover:text-primary"
                  href="https://mas.to/@chiubaca">Mastodon</a
                > /
                <a
                  class="link hover:text-primary"
                  href="https://www.linkedin.com/in/achiu1/">LinkedIn</a
                ></a
              >
            </a>
          </p>
        </div>
      </footer>
    </div>

    <script
      defer
      async
      src="https://cdn.counter.dev/script.js"
      data-id="91ee2db8-dc88-40a2-9529-ef18149e911b"
      data-utcoffset="0"></script>
  </body>
</html>
