---
import "./src/styles/global.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chiubaca.com {title && `| ${title}`}</title>
  </head>
  <body class="font-mono">
    <slot />
  </body>
  <footer>
    <div slot="footer">
      <img
        loading="lazy"
        src="https://cdn.bsky.app/img/avatar/plain/did:plc:yiq6xbxnjzcsxipd3qq3r2hv/bafkreify73ikrqasx3zdusnarp6qrx3b2b2zpy2ixhgklfnj5oqyrvizge@jpeg"
        class="float-left mr-5 aspect-square w-16 rounded-full"
      />
      <p class="">
        Hey I'm Alex Chiu 👋. I'm a senior software engineer based in London.
        Here I publish musings about web development, life and other ramblings.
      </p>
    </div>

    <p>chiubaca.com 2025</p>
  </footer>
</html>

<script
  defer
  async
  src="https://cdn.counter.dev/script.js"
  data-id="91ee2db8-dc88-40a2-9529-ef18149e911b"
  data-utcoffset="0"
  slot="scripts"></script>
<script slot="scripts">
  (function () {
    window.counterscale = {
      q: [["set", "siteId", "chiubaca-com"], ["trackPageview"]],
    };
  })();
</script>
<script
  slot="scripts"
  id="counterscale-script"
  src="https://counterscale.chiubaca.workers.dev/tracker.js"
  defer></script>
