---
import "./src/styles/global.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chiubaca.com {title && `| ${title}`}</title>
  </head>
  <body>
    <slot />
  </body>
  <footer slot="footer">
    <p>chiubaca.com 2025</p>
  </footer>
</html>

<script
  defer
  async
  src="https://cdn.counter.dev/script.js"
  data-id="91ee2db8-dc88-40a2-9529-ef18149e911b"
  data-utcoffset="0"
  slot="scripts"></script>
<script slot="scripts">
  (function () {
    window.counterscale = {
      q: [["set", "siteId", "chiubaca-com"], ["trackPageview"]],
    };
  })();
</script>
<script
  slot="scripts"
  id="counterscale-script"
  src="https://counterscale.chiubaca.workers.dev/tracker.js"
  defer></script>
