---
import { getEntry, render } from "astro:content";
import { getCollection } from "astro:content";
import AnimtedBlinkingTitle from "../components/AnimatedBlinkingTitle.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogs = await getCollection("permanent-notes");
const liveBlogs = blogs
  .filter((blog) => blog.data.status === "live")
  .sort((a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf())
  .slice(0, 5);

const fleetingNotes = await getCollection("fleeting-notes");
const latestFleetingNote = fleetingNotes.sort(
  (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf()
)[0];
const latestFleetingNoteEntry = await getEntry(
  "fleeting-notes",
  latestFleetingNote.id
);
const { Content: LatestFleetingNoteContent } = await render(
  latestFleetingNoteEntry
);
---

<BaseLayout title="home">
  <main>
    <div class="max-w-3xl mx-auto px-5">
      <nav class="py-10">
        <AnimtedBlinkingTitle />
      </nav>

      <section class="latest-blogs">
        <h1 class="text-2xl font-semibold font-mono">✏️ Latest writings</h1>
        <p class="italic text-secondary pb-8">
          Long form blogs, essays, musings.
        </p>

        <div>
          {
            liveBlogs.map((blog) => {
              return (
                <div class="blog-post-summary mb-6">
                  <p class="text-xs font-mono opacity-50 italic">
                    {blog.data.publish_date
                      .toLocaleDateString("en-GB", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })
                      .toString()
                      .toUpperCase()}
                  </p>
                  <a
                    href={`/${blog.id}/`}
                    class=" hover:underline"
                    transition:name="blog-title"
                  >
                    {blog.data.title}
                  </a>
                </div>
              );
            })
          }
        </div>

        <a
          href={`/blogs/`}
          class="font-semibold btn btn-info btn-xs uppercase font-mono hover:italic"
        >
          View all blogs <span class="text-2xl">➡︎</span>
        </a>
      </section>
      <hr class="my-8" />
    </div>

    <section>
      <div class="max-w-3xl mx-auto px-5">
        <h1 class="font-mono text-2xl font-semibold">🗒️ Latest note</h1>
        <p class="italic text-secondary">
          Latest rambling posted on {
            latestFleetingNote.data.publish_date.toLocaleDateString("en-GB", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </p>
        <div
          class="mb-8 mt-4 flex flex-wrap items-center gap-2 font-mono text-xs"
        >
          {
            latestFleetingNoteEntry.data.tags.map((tag) => (
              <a
                href={`/tags#${tag}`}
                class="hover:link border-gray-300 text-gray-600 before:content-['#'] dark:border-gray-600 dark:text-gray-400 not-prose"
              >
                {tag}
              </a>
            ))
          }
        </div>
      </div>

      <div x-data="{ open: false }">
        <article
          class="min-h-20 prose mx-auto overflow-hidden px-5 sm:!max-w-3xl transition-[max-height] duration-300 ease-in-out"
          x-bind:class="{
            'max-h-[100rem]': open,
            'max-h-96 scroll-fade-bottom': !open 
          }"
        >
          <LatestFleetingNoteContent />
        </article>
        <div class="flex justify-center mt-4">
          <button
            class="btn btn-sm btn-ghost"
            @click="open = !open"
            x-text="open ? 'collapse ⬆︎' : 'show more ⬇︎'"></button>
        </div>
      </div>

      <div class="max-w-3xl mx-auto px-5">
        <a
          href={`/fleeting-notes/`}
          class="mt-8 font-semibold btn btn-info btn-xs uppercase font-mono hover:italic"
        >
          View all notes <span class="text-2xl">➡︎</span>
        </a>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .scroll-fade-bottom {
    -webkit-mask-image: linear-gradient(
      to bottom,
      black calc(100% - 5rem),
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      black calc(100% - 5rem),
      transparent 100%
    );
  }
</style>
