---
import { Header } from "@chiubaca-ui";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogs = await getCollection("permanent-notes");

const liveBlogs = blogs.filter((blog) => blog.data.status === "live");
---

<BaseLayout>
  <Header />
  <h1>chiubaca.com</h1>

  <ul>
    {
      liveBlogs.map((blog) => {
        return (
          <a class="link link-hover" href={blog.slug}>
            <li>{blog.data.title}</li>
          </a>
        );
      })
    }
  </ul>
</BaseLayout>

<style>
  h1 {
    color: orange;
  }
</style>
