---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogs = await getCollection("permanent-notes");

const liveBlogs = blogs.filter((blog) => blog.data.status === "live");
---

<BaseLayout>
  <main class="max-w-[65ch] mx-auto">
    <h1>Writing</h1>

    <ul>
      {
        liveBlogs.map((blog) => {
          return (
            <a class="link link-hover" href={blog.slug}>
              <li>{blog.data.title}</li>
            </a>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>