---
import { Header } from "@chiubaca-ui";

const x = "asd";
const g = "dasd";
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <Header />
    <h1>Hello, chiubaca.com!!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
