---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogs = await getCollection("permanent-notes");

const liveBlogs = blogs
  .filter((blog) => blog.data.status === "live")
  .sort(
    (a, b) =>
      new Date(b.data.publish_date).getTime() -
      new Date(a.data.publish_date).getTime(),
  );
---

<BaseLayout>
  <main>
    <h1 class="pb-5 text-secondary">Writings</h1>

    <ul class="flex flex-col gap-3">
      {
        liveBlogs.map((blog) => {
          return (
            <div class="flex-start flex flex-col md:flex-row md:items-center md:gap-5 ">
              <div class="whitespace-nowrap text-xs text-info md:text-sm">
                {dayjs(blog.data.publish_date).format("YYYY • MM • DD")}
              </div>
              <a class="link-hover link" href={blog.slug}>
                <li>{blog.data.title}</li>
              </a>
            </div>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
