---
import { getEntry, render } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import AnimtedBlinkingTitle from "../components/AnimatedBlinkingTitle.astro";

const blogs = await getCollection("permanent-notes");
const liveBlogs = blogs
  .filter((blog) => blog.data.status === "live")
  .sort((a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf())
  .slice(0, 5);

const fleetingNotes = await getCollection("fleeting-notes");
const latestFleetingNote = fleetingNotes.sort(
  (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf()
)[0];
const latestFleetingNoteEntry = await getEntry(
  "fleeting-notes",
  latestFleetingNote.id
);
const { Content: LatestFleetingNoteContent } = await render(
  latestFleetingNoteEntry
);
---

<BaseLayout>
  <main class="max-w-3xl mx-auto">
    <nav class="py-10">
      <AnimtedBlinkingTitle />
    </nav>

    <section class="latest-blogs">
      <h1 class="font-mono mb-4 text-2xl font-semibold">✏️ Latest writings</h1>
      <p class="italic text-secondary">Long form blogs, essays, musings.</p>
      <div class="blog-list mt-4">
        {
          liveBlogs.map((blog) => {
            return (
              <div class="blog-post-summary mb-6">
                <p class="text-xs font-mono capitalize">
                  {blog.data.publish_date.toLocaleDateString("en-GB", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </p>
                <a href={`/${blog.id}/`} class=" hover:underline">
                  {blog.data.title}
                </a>
              </div>
            );
          })
        }
      </div>
      <a
        href={`/blogs/`}
        class="pt-4 font-semibold no-underline block mb-1 link-hover"
      >
        All blogs ->
      </a>
    </section>
    <hr class="my-4" />
    <section>
      <p class="blog-date text-xs">
        {
          latestFleetingNote.data.publish_date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
      <h1 class="font-mono mb-4 text-2xl font-semibold">🗒️ Latest note</h1>
      <p class="italic text-secondary">Unorganised fleeting thoughts...</p>
      <div class="blog-post-summary mb-6 pb-0 last:mb-0 last:pb-0">
        <article class="prose">
          <LatestFleetingNoteContent />
        </article>

        <a href={`/fleeting-notes/`} class="pt-4 link-hover">All notes -> </a>
      </div>
    </section>

    <section class="pt-8">
      <img
        loading="lazy"
        src="https://cdn.bsky.app/img/avatar/plain/did:plc:yiq6xbxnjzcsxipd3qq3r2hv/bafkreify73ikrqasx3zdusnarp6qrx3b2b2zpy2ixhgklfnj5oqyrvizge@jpeg"
        class="float-left mr-5 aspect-square w-16 rounded-full"
      />
      <p class="">
        Hey I'm Alex Chiu 👋. I'm a senior software engineer based in London.
        Here I publish musings about web development, life and other ramblings.
      </p>
    </section>
  </main>
</BaseLayout>
