---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const blogs = await getCollection("permanent-notes");
const draftBlogs = blogs
  .filter((blog) => blog.data.status === "draft")
  .sort(
    (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf()
  );
---

<BaseLayout
  title="drafts | chiubaca.com"
  description="Unfinished writings, works in progress."
  breadcrumbs={[
    {
      href: "/blogs",
      label: "blogs",
    },
    {
      href: "/blogs/drafts",
      label: "drafts",
    },
  ]}
>
  <section class="mt-16 max-w-3xl mx-auto px-5">
    <h1 class="text-2xl font-semibold font-mono">🌱 Drafts</h1>
    <p class="italic text-secondary pb-8">Unfinished writings.</p>

    <div class="blog-list">
      {
        draftBlogs.map((blog) => {
          return (
            <div class="blog-post-summary mb-6">
              <p class="text-xs font-mono opacity-50 italic">
                {blog.data.publish_date
                  .toLocaleDateString("en-GB", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })
                  .toString()
                  .toUpperCase()}
              </p>
              <a href={`/${blog.id}/`} class=" hover:underline">
                {blog.data.title}
              </a>
            </div>
          );
        })
      }
    </div>
    {draftBlogs.length === 0 && <p>No drafts here. Keep writing!</p>}
  </section>
</BaseLayout>
