---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const blogs = await getCollection("permanent-notes");
const liveBlogs = blogs
  .filter((blog) => blog.data.status === "live")
  .sort(
    (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf()
  );
---

<BaseLayout
  breadcrumbs={[
    {
      href: "/blogs",
      label: "blogs",
    },
  ]}
>
  <section class="mt-20">
    <h1 class="text-2xl font-semibold font-mono">📚 All Writings</h1>
    <p class="italic text-secondary pb-8">Long form blogs, essays, musings.</p>

    <div class="blog-list">
      {
        liveBlogs.map((blog) => {
          return (
            <div class="blog-post-summary mb-6">
              <p class="text-xs font-mono opacity-50 italic">
                {blog.data.publish_date
                  .toLocaleDateString("en-GB", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })
                  .toString()
                  .toUpperCase()}
              </p>
              <a href={`/${blog.id}/`} class=" hover:underline">
                {blog.data.title}
              </a>
            </div>
          );
        })
      }
    </div>
    {liveBlogs.length === 0 && <p>No blogs published yet. Check back soon!</p>}
  </section>
</BaseLayout>
