<div
  class="group logo-container flex items-center font-mono cursor-pointer decoration-2"
>
  <span class="blink pb-[2px]">▌</span>
  <span class="transition-colors uppercase font-bold tracking-tight">chiubaca.com</span>
</div>

<style>
  .blink {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    100% {
      opacity: 0;
    }
  }
</style>
