---
import { ThemeToggle } from "@chiubaca-ui";
import type { BaseLayoutProps as Props } from "./BaseLayoutProps";

const { titlePrefix, title, breadcrumbs } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <title>{titlePrefix} {title && `| ${title}`}</title>
  </head>
  <body>
    <div class="mx-auto max-w-[65ch] px-5 pb-10 md:px-0">
      <div
        class="fixed right-0 m-8 flex justify-end rounded-full p-2 backdrop-blur-md"
      >
        <ThemeToggle />
      </div>
      <header class="flex items-center justify-between py-10">
        <div class="font-mono">
          <a href="/" class="py-2 hover:link hover:text-primary">$chiubaca</a>
          {
            breadcrumbs &&
              breadcrumbs.map((b) => (
                <a href={b.href} class="hover:opacity-75">
                  {b.label}
                </a>
              ))
          }
        </div>
      </header>
      <slot />
      <footer class="py-10">
        <hr class="py-5" />
        <slot name="footer" />

        <p>
          Follow me on: <a
            class="link hover:text-primary"
            href="https://github.com/chiubaca"
            >Github<a>
              / <a
                class="link hover:text-primary"
                href="https://twitter.com/chiubaca">X (Twitter)</a
              > / <a
                class="link hover:text-primary"
                href="https://mas.to/@chiubaca">Mastodon</a
              > /
              <a
                class="link hover:text-primary"
                href="https://www.linkedin.com/in/achiu1/">LinkedIn</a
              ></a
            >
          </a>
        </p>
      </footer>
    </div>

    <script
      defer
      async
      src="https://cdn.counter.dev/script.js"
      data-id="91ee2db8-dc88-40a2-9529-ef18149e911b"
      data-utcoffset="0"></script>
  </body>
</html>
