---
import { getCollection } from "astro:content";
import { noteTypes } from "../common/types";

export async function getStaticPaths() {
  const noteTypeTitles = Object.values(noteTypes.enum).map(
    (noteType) => noteType,
  );

  const allPaths = noteTypeTitles.map(async (noteType) => {
    const notes = await getCollection(noteType);

    const noteTypePaths = notes.map(
      (note) => `${noteType}/${note.slug}` as const,
    );

    return noteTypePaths;
  });

  const resolvedPaths = await Promise.all(allPaths);

  const slugPaths = resolvedPaths
    .flat()
    .map((path) => ({ params: { noteType: path } }));

  const indexPaths = noteTypeTitles.map((noteType) => ({
    params: { noteType },
  }));

  return [...indexPaths, ...slugPaths];
}

const { noteType } = Astro.params;

const isIndexPage =
  noteType === "fleeting-notes" ||
  noteType === "literature-notes" ||
  noteType === "permanent-notes" ||
  noteType === "index-notes";
---

<h1>Hello {noteType}</h1>

{isIndexPage ? <> Render an index page </> : <> Render a note page </>}
