---
import { Header } from "@chiubaca-ui";

import { noteTypes } from "../common/types";

const noteTypeTitles = Object.values(noteTypes.enum).map((noteType) => {
  return noteType;
});
---

<html>
  <body>
    <Header />
    <h1 class="text-2xl text-fuchsia-700">notes.chiubaca.com</h1>
  </body>

  <ul>
    {
      noteTypeTitles.map((title) => {
        return (
          <a href={title}>
            <li>{title} notes</li>
          </a>
        );
      })
    }
  </ul>
</html>
